

.section_6 {
    margin: 0 auto;
    width: 80%;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    height: 233px;
    margin-bottom: -115px;
}


.section_6 .container_1 {
    margin-bottom: -80px;
    display: flex;
    padding: 0 70px;
    height: 240px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}


.section_6_text h3 {
    font-size: 35px;
    line-height: 45px;
}


.section_6_text p {
    font-size: 16px;
    line-height: 30px;
}


.section_6_btn {
    background-color: #F53838;
    color: #fff;
    border-radius: 10px;
    padding: 17.5px 65px;
}


.section_6_btn:hover {
    background-color: #f71616;
    box-shadow:0 20px 50px -12px #f538389a;
    color: #fff ;
}

@media( max-width: 950px) {
    .section_6 .container_1 {
        display: block;
        height: 250px;
        width: 60vw;
    }

    .section_6_text {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 8%;
    }

    .section_6_text h3 {
        font-size: 28px;
    }

    .section_6_text p {
        font-size: 16px;
    }

    .section_6_link {
        text-align: center;
    }
}

@media( max-width: 700px) { 
    .section_6 .container_1 {
        height: 95%;
    }
    
    .section_6_text h3 {
        font-size: 24px;
    }

    .section_6_text p {
        font-size: 13px;
    }
        
    .section_6_btn {
        padding: 14px 32px;
        font-size: 14px;
    }                                                   
}

@media( max-width: 535px) {
    .section_6 .container_1 {
        height: 34vw;
    }

    .section_6_text h3 {
        font-size: 22px;
        line-height: 30px;  
    }

    .section_6_text p {
        font-size: 12px;
    }
        
    .section_6_btn {
        padding: 14px 26px;
        font-size: 13px;
    }            
}

@media( max-width: 460px) {
    .section_6 .container_1 {
        width: 80vw;
        height: 185px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    .section_6_text h3 {
        font-size: 18px;
        line-height: 30px;  
    }

    .section_6_text p {
        line-height: 20px;
        margin-top: 4px;
        margin-bottom: 25px;
    }

    .section_6_btn {
        padding: 12px 22px;
        font-size: 12px;
    }       
}